DATABASE_URL=postgres://postgres:postgres@db/nerine
POSTGRES_PASSWORD=postgres

JWT_SECRET=example_secret
ADMIN_TOKEN=example_admin_token

SMTP_URL=smtp://user:pass@smtp.example.com:587
# don't forget this one:
FROM_EMAIL=noreply@ctf.gg

# if you need to debug in prod...
# RUST_LOG=debug

CORS_ORIGIN=http://nerine.localhost